# .gitignore

# Third-party plugins (installed by install.sh)
zsh/.zsh/antidote

# macOS
.DS_Store

# editors
.vscode
.idea

# notes
TODO.md
_nvim-dist

# Vim swap files
*.swp
*.swo

# Backup files
*.backup
*~
