# .gitignore

# Third-party plugins (installed by install.sh)
zsh/.zsh/antidote

# macOS
.DS_Store

# editors
.vscode
.idea

# notes
TODO.md
_nvim-dist

# vim swap files
*.swp
*.swo

# backup files
*.backup
*~

# other

.idea/
.vscode/
